__pycache__/
*.pyc

data/raw/
data/processed/

weights/

*.pt
*.pth
*.ckpt
*.npy
*.npz

.ipynb_checkpoints/
.DS_Store

# Large data files
notebooks/3UTRDB/
notebooks/df_final.tsv
src/classification/merged.json
src/classification/external_predictions.json